@model IEnumerable<ProprioInfini.Batiment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombrePiece)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstChauffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electricite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Internet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stationnement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.CodePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePiece)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstChauffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electricite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Internet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stationnement)
        </td>
        <td>
            @Html.ActionLink(item.Adresse.CodePostal, "Details","Adresse", new { id = item.AdresseId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
