@model ProprioInfini.Annonce

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Annonce</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proprietaire.Courriel)
    </div>
    <div class="display-field">
       @Html.ActionLink(Model.Proprietaire.Nom, "Details","Proprietaire", new { id = Model.ProprietaireId }, null)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateDebutAnnonce)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateDebutAnnonce)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateFinAnnonce)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateFinAnnonce)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prix)
    </div>

    <div class="display-label">
         Batiment
    </div>
    <div class="display-field">
        @Html.ActionLink(Model.Batiment.Nom, "Details","Batiment", new { id = Model.BatimentId }, null)
        @Html.DisplayFor(model => model.Batiment.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
