@model IEnumerable<ProprioInfini.Annonce>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nom du Proprio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebutAnnonce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinAnnonce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            Batiment
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Proprietaire.Nom, "Details","Proprietaire", new { id = item.ProprietaireId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebutAnnonce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinAnnonce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
           @Html.ActionLink(item.Batiment.Nom, "Details","Batiment", new { id = item.BatimentId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
