@model IEnumerable<ProprioInfini.Annonce>




@foreach(ProprioInfini.Annonce item2 in ViewBag.listBatisse)
{
    <div class="geoloco" id="@item2.Batiment.Adresse.NumeroCivic  @item2.Batiment.Adresse.Rue.Nom  @item2.Batiment.Adresse.Ville.Nom"></div>
    
}
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>LOL POGNE TA VILLE EL GROS</h3>
@Html.DropDownList("listRegion", String.Empty)
<table>
    <tr>
        <th>
            Nom du Proprio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebutAnnonce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinAnnonce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            Batiment
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th></th>
    </tr>




@foreach (var item in Model) 
{
    
    <tr>
        <td>
            @Html.ActionLink(item.Proprietaire.Nom, "Details","Proprietaire", new { id = item.ProprietaireId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebutAnnonce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinAnnonce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
           @Html.ActionLink(item.Batiment.Nom, "Details","Batiment", new { id = item.BatimentId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}


    <br />
    <br />
    <h3>Carte d'annonce</h3>
    <div id="map" style="width: 900px; height: 500px"></div>
    <script type="text/javascript"    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB79nxD4iV9QrmpHO2Q5Jd2bkIaKjEh3S8&sensor=false"> </script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>


<script type="text/javascript">
    //window.onload(initialize());

    $(document).ready(function () {

        initialize();
    });

    var map;


    $('#listRegion').on('change', function ()
    {
        var regionSelectionner = $('#listRegion').find(":selected").text();
        $.ajax({
            url: '@Url.Action("ZoomMAPPartial", "Annonce")',
            data: { region: regionSelectionner },
            type: 'POST',
            success: function (data) {

                var array = data.split("/");
        
                var arrayPoint = new Array();

                for ( i = 0; i < array.length; i++)
                {
                    var array2 = array[i].split("$");

                    var num1 = array2[0];
                    var num2 = array2[1];

                    if (!num1 || !num2)
                        continue;

                    num1 = num1.replace(',', '.');
                    num2 = num2.replace(',', '.');

                    if (Number(isNaN(num1)) || Number(isNaN(num2)))
                        continue;

                    arrayPoint.push(new google.maps.LatLng(num1, num2));
                }
                var bounds = new google.maps.LatLngBounds();

                for (var i = 0; i < arrayPoint.length; i++)
                {
                    bounds.extend(arrayPoint[i]);
                }
                map.fitBounds(bounds);
            }
        });


    });
    var contentString;
    function initialize()
    {
       
        var mapOptions =
        {
            center: new google.maps.LatLng(45.4959944, -73.5693213),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
       
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        $('.geoloco').each(function ()
        {
            var add = $(this).attr('id');
            addPoint(map, add);

        });
       // addPoint(map, new google.maps.LatLng(45.539121, -73.492355));
    }

    var info = new google.maps.InfoWindow({});
    function addPoint(map, adresse)
    {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': adresse }, function (results, status)
        {
            if (status == google.maps.GeocoderStatus.OK)
            {
                marker = new google.maps.Marker(
                {
                    position: results[0].geometry.location,
                    map: map
                });
                google.maps.event.addListener(marker, 'click', function () {
                    adresseMAP(adresse, map, this);
                    /*var infowindow = new google.maps.InfoWindow({
                        content: 'Hello'
                    });*/
                    
                });
            }
            else
                alert('Geocode was not successful for the following reason: ' + status);
        });

    }

    function adresseMAP(adresse, map, marker)
    {
        $.ajax({
            url: '@Url.Action("AdresseMAPPartial", "Annonce")',
            data: { adresse: adresse },
            type: 'POST',
            success: function (data) {
                contentString = data;
                info.setContent(data);
                info.open(map, marker);
            }
        });
    }
    </script>

</table>