@model IEnumerable<ProprioInfini.Annonce>




@foreach(ProprioInfini.Annonce item2 in ViewBag.listBatisse)
{
    <div class="geoloco" id="@item2.Batiment.Adresse.NumeroCivic  @item2.Batiment.Adresse.Rue.Nom  @item2.Batiment.Adresse.Ville.Nom"></div>
    
}
@{
    ViewBag.Title = "Index";
}

<style>

    .dropdown 
    {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .dropdown2 
    {
        width: 180px;
    }


</style>

<h1>Annonce</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="dropdown"> 
    <h3>Ville</h3>
    @Html.DropDownList("listRegion", (IEnumerable<SelectListItem>)ViewBag.listRegion,"Aucune ville", new { @class="dropdown" })
</div>

<div class="dropdown"> 
    <h3>Nombre de pièce</h3>
    @Html.DropDownList("listNbPiece", (IEnumerable<SelectListItem>)ViewBag.listNbPiece,"Tout les nombres", new { @class="dropdown2" })
</div>

<div class="dropdown"> 
    <h3>Montant</h3>
    <select id="TranchePrix" style="float: left;">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
    </select>

    <div style="float: left; margin-left : 10px; margin-right: 10px;"><font size="4"><strong>à</strong></font> </div>

    <select id="TranchePrix2" style="float: left;">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
    </select>
</div>


    <input id="Rechercher" type="button" value="Rechercher" style="margin-top: 25px; margin-left: 170px; border-radius: 3px;" />




    <br />
    <br />
    <br />

    <div id="map" style="width: 900px; height: 500px; border: 2px solid blue;"></div>

    <script type="text/javascript"    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB79nxD4iV9QrmpHO2Q5Jd2bkIaKjEh3S8&sensor=false"> </script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>


<script type="text/javascript">
    //window.onload(initialize());

    $(document).ready(function () {

        $('#TranchePrix2').val(40);

        initialize();
    });

    var map;


    $('#Rechercher').on('click', function () {

       
        var regionSelectionner = $('#listRegion').find(":selected").text();
        var nombreDePiece = $('#listNbPiece').find(":selected").text();
        var montantDebut = $('#TranchePrix').find(":selected").text();
        var montantFin = $('#TranchePrix2').find(":selected").text();

        alert(regionSelectionner + " " + nombreDePiece + " " + montantDebut + " " + montantFin);

        //Filter en premier
        $.ajax({
            url: '@Url.Action("AjaxFilter", "Annonce")',
                 data: {
                     nombrePiece: nombreDePiece,
                     prixDebut: montantDebut,
                     prixFin: montantFin,
                     region: regionSelectionner,

                 },
                 type: 'POST',
                 success: function (data) {
                     //des probs icite jser po
                     alert(data);
                     $('.geoloco').remove();
                     $(data).appendTo('#body');
                     initialize();
                 }
             });


        //Zoom à bonne place
        if (regionSelectionner != "Aucune ville") {
            $.ajax({
                url: '@Url.Action("ZoomMAPPartial", "Annonce")',
                data: {
                    region: regionSelectionner
                },
                type: 'POST',
                success: function (data) {

                    var array = data.split("/");
                    var arrayPoint = new Array();

                    for (i = 0; i < array.length; i++) {
                        var array2 = array[i].split("$");

                        var num1 = array2[0];
                        var num2 = array2[1];

                        if (!num1 || !num2)
                            continue;

                        num1 = num1.replace(',', '.');
                        num2 = num2.replace(',', '.');

                        if (Number(isNaN(num1)) || Number(isNaN(num2)))
                            continue;

                        arrayPoint.push(new google.maps.LatLng(num1, num2));
                    }
                    var bounds = new google.maps.LatLngBounds();

                    for (var i = 0; i < arrayPoint.length; i++) {
                        bounds.extend(arrayPoint[i]);
                    }
                    map.fitBounds(bounds);
                }
            });
        }


    });
 





    var contentString;
    function initialize()
    {
       
        var mapOptions =
        {
            center: new google.maps.LatLng(45.4959944, -73.5693213),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
       
        map = new google.maps.Map(document.getElementById("map"), mapOptions);
        initializePoints();
 
       // addPoint(map, new google.maps.LatLng(45.539121, -73.492355));
    }

    function initializePoints()
    {
        $('.geoloco').each(function () {
            var add = $(this).attr('id');
            addPoint(map, add);

        });
    }


    var info = new google.maps.InfoWindow({});
    function addPoint(map, adresse)
    {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': adresse }, function (results, status)
        {
            if (status == google.maps.GeocoderStatus.OK)
            {
                marker = new google.maps.Marker(
                {
                    position: results[0].geometry.location,
                    map: map
                });
                google.maps.event.addListener(marker, 'click', function () {
                    adresseMAP(adresse, map, this);
                    /*var infowindow = new google.maps.InfoWindow({
                        content: 'Hello'
                    });*/
                    
                });
            }
            else
                alert('Geocode was not successful for the following reason: ' + status);
        });

    }

    function adresseMAP(adresse, map, marker)
    {
        $.ajax({
            url: '@Url.Action("AdresseMAPPartial", "Annonce")',
            data: { adresse: adresse },
            type: 'POST',
            success: function (data) {
                contentString = data;
                info.setContent(data);
                info.open(map, marker);
            }
        });
    }
    </script>

</table>